*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 12px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  width: 420px;
  background-color: #0000;
}

h1 {
   font-size: 1.5em;
   font-weight:900;
   line-height: 120%;
}

h3{
  font-size: 1.2em;
  line-height: 140%;

}
.arrow{
  display: inline-block;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: right;

}

.arrow-left{

}

.container {
  margin: 0 auto;
  width: 420px;
  background-color:black;
}

.content {
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 8px;
  padding-bottom:15px;
  display: inline-block;
}


.location {
  background-color: #DEDEDE;
  border: 1px solid #0000;
  margin: 1px;
  padding: 1px;
  width: 420px;

}

.location:hover {background-color: #959b97;
  } /* mouse over */

}

.restaurant-list {
  padding-top: 50px;
  width:200%;
}
